.container {
  border: solid 1px #dadde1;
  border-radius: 10px;
  line-height: normal;
  margin: 30px 30px 10px 30px;
  padding: 20px;
  max-width: 800px;
}

h2 {
  display: inline-block;
}

h3 {
  margin: 20px auto;
}

.weather img {
  height: 50px;
  width: 50px;
}

ul {
  list-style-type: none;
  margin: 15px;
  padding: 0;
}

li:first-letter {
  text-transform: capitalize;
}

h2 .units {
  font-size: medium;
}

.weather .active {
  color: black;
  cursor: default;
  text-decoration: none;
}

.weather .active:hover {
  text-decoration: none;
}

p {
  margin-top: 20px;
}

.footer {
  font-size: small;
  margin-left: 35px;
  text-align: left;
}
