.container {
  border: solid 1px #dadde1;
  border-radius: 10px;
  line-height: normal;
  margin: 30px 30px 10px 30px;
  padding: 20px;
  max-width: 800px;
}

h3 {
  margin: 20px auto;
}

ul {
  list-style-type: none;
  margin: 15px;
  padding: 0;
}

h2 .units {
  font-size: medium;
}

p {
  margin-top: 20px;
}

.footer {
  font-size: small;
  margin-left: 35px;
  text-align: left;
}
